body {
    background-color: rgb(245, 237, 237);
}
.container  {
    background-color: white;
    border-style: inset;
    padding: 30px;
}

h2,h3 {
    color: rgb(147, 173, 173);
}
p   {
    text-align: center;
    padding-bottom: 100px;
    padding-top: 10px;
    border-style: dashed;
    border-color: rgb(100, 97, 97);
    
}

.btn {
    margin: 0 auto !important;
    width: auto;
    padding-right: 30px;
    padding-left: 30px;
}
 #display {
     width: 100%;
     border-style: dashed;
     border-color: rgb(230, 230, 230);
     text-align: center;
     padding: 100px;
 }